# My InputRC ReadLine Settings

### Command Line Settings ###

# [General Settings]

# Colorized completion
#   - Color files by types
    set colored-stats on
    set colored-completion-prefix on

# [Faster Completion]
# A single tab will perform
#   - Partially complete the word
#   - Show all possible completions if is still ambiguous
    set show-all-if-ambiguous on

### Keybindings ###

# Reload Bash to refresh .inputrc
    "\C-r":"bash\n"

